:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
